In [1]:
# Importing Dependencies
import pandas as pd
# For calling the file that will be read in, I prefer to use the os method rather than listing the path out since it is more universal
import os
%config Completer.use_jedi = False

In [2]:
# First, let's get our file location
filepath = os.path.join("Resources", "purchase_data.csv")

# Then read in CSV in
purchaseDataDf = pd.read_csv(filepath)
# and make sure it was read in correctly by checking the dataframe
purchaseDataDf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# PLAYER COUNT

In [4]:
# To do this, we just need to find the total count of purchases
numberOfPlayers = purchaseDataDf['SN'].nunique()
players = [{"Total Players" : numberOfPlayers}]
totalPlayers = pd.DataFrame(players)
print("TOTAL PLAYERS")
print("_____________")
totalPlayers

TOTAL PLAYERS
_____________

   Total Players
0            576

In [5]:
# PURCHASING ANALYTICS

In [6]:
# Next, let's get some total purchasing analytics

# Here I get the average price of the price column
averagePrice = purchaseDataDf['Price'].mean()

# Then Format it to be put in our dataframe later
averagePriceFormatted = "${:.2f}".format(averagePrice)

# Then we grab the number of unique items through the Item ID column
uniqueItems = purchaseDataDf['Item ID'].nunique()

# Set that nunique to a new output so it can be converted into a dataframe
itemDF = [{"Number Of Unique Items" : uniqueItems}]

# Let's calculate the total purchases
totalPurchases = purchaseDataDf['Purchase ID'].count()

# Now let's get the total revenue
totalRevenue = purchaseDataDf['Price'].sum()
totalRevenueFormatted = "${:.2f}".format(totalRevenue)

# Convert our output into a new dataframe to store all our purchasing analytics
purchaseAnalytics = pd.DataFrame(itemDF)

# Add our average price we calculated earlier to our dataframe
purchaseAnalytics["Average Price"] = averagePriceFormatted

# Add our total purchases to our dataframe
purchaseAnalytics["Total Purchases"] = totalPurchases

# Lastly, add our total revenue to our dataframe and print it out
purchaseAnalytics["Total Revenue"] = totalRevenueFormatted
print('-----------------PURCHASING ANALYTICS (TOTAL)-----------------')
print('______________________________________________________________')
purchaseAnalytics

-----------------PURCHASING ANALYTICS (TOTAL)-----------------
______________________________________________________________

   Number Of Unique Items Average Price  Total Purchases Total Revenue
0                     179         $3.05              780      $2379.77

In [7]:
# GENDER DEMOGRAPHICS

In [8]:
# First, get the total number of unique players to be used in our calculation.
playerCount = len(purchaseDataDf["SN"].unique())

# Here we get a new dataframe with only our male players to do calculations later
malePlayers = pd.DataFrame(purchaseDataDf[purchaseDataDf["Gender"] == "Male"][["SN", "Gender", "Price"]])

# For the math, I set the maleCount variable equal to the number of unique players in my male dataframe
maleCount = len(malePlayers["SN"].unique())

# Then I do math to calculate the percentage and format it as a percentage
malePercentage = "{:.2f}%".format((maleCount/playerCount) * 100)

# Finally I make a new dataframe for our males to append into our total later
maleDf = pd.DataFrame([{"Total Count" : maleCount, "Percentage of Players" : malePercentage, "Gender" : "Male"}])

# And set the index to males
maleFinal = maleDf.set_index("Gender")

In [9]:
# Now we're doing the same thing for females
# No need to redefine playerCount as it is defined in the previous cell.
# Here we get a new dataframe with only our female players to do calculations later
femalePlayers = pd.DataFrame(purchaseDataDf[purchaseDataDf["Gender"] == "Female"][["SN", "Gender", "Price"]])

# For the math, I set the femaleCount variable equal to the number of unique players in my male dataframe
femaleCount = len(femalePlayers["SN"].unique())

# Then I do math to calculate the percentage and format it as a percentage
femalePercentage = "{:.2f}%".format((femaleCount/playerCount) * 100)

# Finally I make a new dataframe for our females to append into our total later
femaleDf = pd.DataFrame([{"Total Count" : femaleCount, "Percentage of Players" : femalePercentage, "Gender" : "Female"}])

# And set the index to females
femaleFinal = femaleDf.set_index("Gender")

In [10]:
#Now last but not least, we do the same thing for the Other / Non-Disclosed gender
# No need to redefine playerCount as it is defined in the males cell.
# Here we get a new dataframe with only our Other / Non-Disclosed players to do calculations later
otherPlayers = pd.DataFrame(purchaseDataDf[purchaseDataDf["Gender"] == "Other / Non-Disclosed"][["SN", "Gender", "Price"]])

# For the math, I set the otherCount variable equal to the number of unique players in my male dataframe
otherCount = len(otherPlayers["SN"].unique())

# Then I do math to calculate the percentage and format it as a percentage
otherPercentage = "{:.2f}%".format((otherCount/playerCount) * 100)

# Finally I make a new dataframe for our Other / Non-Disclosed to append into our total later
otherDf = pd.DataFrame([{"Total Count" : otherCount, "Percentage of Players" : otherPercentage, "Gender" : "Other / Non-Disclosed"}])

# And set the index to Other / Non-Disclosed
otherFinal = otherDf.set_index("Gender")

In [11]:
# Alright! And now we add those three dataframes we made together into one dataframe to show everything
genderFinalDf = maleFinal
genderFinalDf = genderFinalDf.append(femaleFinal)
genderFinalDf = genderFinalDf.append(otherFinal)
print("---------------GENDER DEMOGRAPHICS---------------")
print("_________________________________________________")
genderFinalDf

# I chose to do this method to show off a bit more skill in using various pandas commands
# I considered originall just doing all the math then manually creating a dataframe with the new math
# but to keep it all within pandas, I decided to manipulate dataframes instead.

---------------GENDER DEMOGRAPHICS---------------
_________________________________________________

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [12]:
# PURCHASING ANALYSIS (GENDER)

In [13]:
# For this, I use a different method than the previous section to achieve a similar sorting result

# First I create my groupby item sorting by gender
genderGroupedDf = purchaseDataDf.groupby("Gender")

# Then, I create dataframes for each of the attributes I'll be finding: Purchase Count, Average Purchase Price, Total Purchase Value, and Average Purchase per
genderPurchaseCount = pd.DataFrame(genderGroupedDf["Purchase ID"].count())
genderAveragePrice = pd.DataFrame(genderGroupedDf["Price"].mean().map("${:.2f}".format))
genderTotalPurchase = pd.DataFrame(genderGroupedDf["Price"].sum().map("${:.2f}".format))

# The average purchase per person needs a little bit of math so I take the sum of the Price column and the number of players and divide them to get the averages
genderTotalPrice = genderGroupedDf["Price"].sum()
genderTotalPlayers = genderGroupedDf["SN"].nunique()

# For some reason, this names the created column as 0. The number 0 not the character "0" so when I go to rename later I use the integer 0 rather than "0" to rename the column
genderAvgPerPlayer = pd.DataFrame((genderTotalPrice/genderTotalPlayers).map("${:.2f}".format))

# Finally, make our final dataframe using the merge method
genderPurchaseMerge1 = pd.merge(genderPurchaseCount, genderAveragePrice, on = "Gender")
genderPurchaseMerge2 = pd.merge(genderPurchaseMerge1, genderTotalPurchase, on = "Gender")
genderPurchaseFinal = pd.merge(genderPurchaseMerge2, genderAvgPerPlayer, on = "Gender")

# Rename the final columns to make it pretty.
genderPurchaseFinal.rename(columns=({"Purchase ID" : "Purchase Count", "Price_x" : "Average Purchase Price", 
                                    "Price_y" : "Total Purchase Value", 0 : "Avg Total Purchase per Person"}), inplace=True)
print("-------------------------------------PURCHASING ANALYSIS (GENDER)-------------------------------------")
print("______________________________________________________________________________________________________")
genderPurchaseFinal

-------------------------------------PURCHASING ANALYSIS (GENDER)-------------------------------------
______________________________________________________________________________________________________

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [14]:
# AGE DEMOGRAPHICS

In [15]:
# First lets define our sorted dataFrame bins and bin labels for our age demographics
ageDf = purchaseDataDf.copy()
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200] # Why a bin of 200? I figured for age people can live to over 100 so just in case.
binLabels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Now I define a new dataframe with my binned data, using the cut function to create the bins
binnedDf = pd.cut(ageDf["Age"], bins, labels = binLabels)

# Then I add the binned columns to the the unsorted dataframe
ageDf["Age Bins"] = binnedDf

ageDf.drop_duplicates(["SN"], inplace = True)

ageDemoCount = ageDf["Age Bins"].value_counts()
ageDemoPercentage = ageDf["Age Bins"].value_counts(normalize = True) * 100
ageDemoFormatted = ageDemoPercentage.map("{:.2f}%".format)

ageDemoFinal = pd.DataFrame({"Total Count" : ageDemoCount, "Percentage of Players" : ageDemoFormatted})
ageDemoFinal.sort_index(inplace = True)

print("----------AGE DEMOGRAPHICS---------")
print("___________________________________")
ageDemoFinal

----------AGE DEMOGRAPHICS---------
___________________________________

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [16]:
# PURCHASING ANALYSIS (AGE)

In [17]:
# We got our bins and bin data frame set up from the
groupAgeDf = ageDf.groupby("Age Bins")
# Now, just as I did above with the gender demographics, I create dataframes for each of what we're looking for. Purchase count, avg purchase price, 
# total purchase value, and Average Purchase Total per Person by Age Group
# agePurchaseCount = pd.DataFrame(groupAgeDf["Purchase ID"].count())
ageAveragePrice = pd.DataFrame(groupAgeDf["Price"].mean().map("${:.2f}".format))
ageTotalPurchase = pd.DataFrame(groupAgeDf["Price"].sum().map("${:.2f}".format))

# The average purchase per person needs a little bit of math so I take the sum of the Price column and the number of players and divide them to get the averages
agePurchaseCount = pd.DataFrame(groupAgeDf["Purchase ID"].count())
ageTotalPrice = groupAgeDf["Price"].sum()
ageTotalPlayers = groupAgeDf["SN"].nunique()

# For some reason, this names the created column as 0. The number 0 not the character "0" so when I go to rename later I use the integer 0 rather than "0" to rename the column
ageAvgPerPlayer = pd.DataFrame((ageTotalPrice/ageTotalPlayers).map("${:.2f}".format))

# Merge our dataframes together to get the final dataframe
agePurchaseMerge1 = pd.merge(agePurchaseCount, ageAveragePrice, on = "Age Bins")
agePurchaseMerge2 = pd.merge(agePurchaseMerge1, ageTotalPurchase, on = "Age Bins")
agePurchaseFinal = pd.merge(agePurchaseMerge2, ageAvgPerPlayer, on = "Age Bins")

# Rename the final columns
agePurchaseFinal.rename(columns=({"Purchase ID" : "Purchase Count", "Price_x" : "Average Purchase Price", 
                                    "Price_y" : "Total Purchase Value", 0 : "Avg Total Purchase per Person"}), inplace=True)
print("------------------------------PURCHASING ANALYSIS (AGE)------------------------------")
print("_____________________________________________________________________________________")
agePurchaseFinal

------------------------------PURCHASING ANALYSIS (AGE)------------------------------
_____________________________________________________________________________________

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Bins,,,,
<10,17,$3.39,$57.63,$3.39
10-14,22,$3.07,$67.64,$3.07
15-19,107,$3.10,$331.88,$3.10
20-24,258,$3.06,$790.39,$3.06
25-29,77,$2.91,$223.93,$2.91
30-34,52,$2.92,$151.92,$2.92
35-39,31,$3.51,$108.81,$3.51
40+,12,$3.04,$36.45,$3.04

In [18]:
# TOP SPENDERS

In [44]:
# First I create a copy Dataframe
spendersDf = purchaseDataDf.copy()
# Then group by SN to get the screen names as the index
groupedSpenders = spendersDf.groupby("SN")

# here is where I get my math. You'll notice I didn't do the .format here this time. The formatting messes up the sorting later so I format last.
spenderCount = pd.DataFrame(groupedSpenders["Purchase ID"].count())
spenderAvgPrice = pd.DataFrame(groupedSpenders["Price"].mean())
spenderTotalPrice =  pd.DataFrame(groupedSpenders["Price"].sum())

# Now I merge my dataframes into a single dataframe
spenderMerge1 = pd.merge(spenderCount, spenderAvgPrice, on = "SN")
spenderFinal = pd.merge(spenderMerge1, spenderTotalPrice, on = "SN")

# Then I sort my values
spenderFinal.sort_values(by = "Price_y", ascending = False, inplace = True)

# Rename my columns
spenderFinal.rename(columns=({"Purchase ID" : "Purchase Count", "Price_x" : "Purchase Price", "Price_y" : "Total Purchase Value"}), inplace = True)
spenderFinal["Purchase Price"] = spenderFinal["Purchase Price"].map("${:.2f}".format)
spenderFinal["Total Purchase Value"] = spenderFinal["Total Purchase Value"].map("${:.2f}".format)
print("----------------------TOP SPENDERS----------------------")
print("________________________________________________________")
spenderFinal.head()

----------------------TOP SPENDERS----------------------
________________________________________________________

             Purchase Count Purchase Price Total Purchase Value
SN
Lisosia93                 5          $3.79               $18.96
Idastidru52               4          $3.86               $15.45
Chamjask73                3          $4.61               $13.83
Iral74                    4          $3.40               $13.62
Iskadarya95               3          $4.37               $13.10

In [20]:
# MOST POPULAR ITEMS

In [93]:
# First make a copy of my Dataframe
popularDf = purchaseDataDf.copy()

# Filter out just what I need
popularFiltered = popularDf[["Item ID", "Item Name", "Price"]]

# Then group by the two attributes I need
# This took me forever to figure out because I forgot you can use lists to group by multiple things. 
# I had like 50 lines of code that didn't work before I remembered this.
popularGrouped = popularFiltered.groupby(["Item ID", "Item Name"])

# Now I do my math. First to get the total purchase value, then to get the total purchase value, then caluclate the price
popularTotalValue = pd.DataFrame(popularGrouped["Price"].sum())
popularCount = pd.DataFrame(popularGrouped["Price"].count())
# If price * count = total value then total value / count = price
popularPrice = popularTotalValue/popularCount

# Next, I merge my dataframes into a single dataframe
popularMerge1 = pd.merge(popularCount, popularPrice, on = ["Item ID", "Item Name"])
popularFinal = pd.merge(popularMerge1, popularTotalValue, on = ["Item ID", "Item Name"])

# Rename the column names
popularFinal.rename(columns=({"Price_x" : "Purchase Count", "Price_y" : "Price", "Price" : "Total Purchase Value"}), inplace = True)

# Sort the Values
popularFinal.sort_values(by = "Purchase Count", ascending = False, inplace = True)

# Then format the values
popularFinal["Price"] = popularFinal["Price"].map("${:.2f}".format)
popularFinal["Total Purchase Value"] = popularFinal["Total Purchase Value"].map("${:.2f}".format)
popularFinal.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [ ]:
# MOST PROFITABLE ITEMS

In [97]:
# I should be able to do something almost identical to the last section, so I'll model this section off that section
# The only real differences  here should be what the dataframe is being sorted by
# In fact, I don't actually think I need to redefine everything since I'm just changing the sorting
# So I will only use the 2nd half of the above cell to get my results since everything else is already defined

popularFinal = pd.merge(popularMerge1, popularTotalValue, on = ["Item ID", "Item Name"])

# Rename the column names
popularFinal.rename(columns=({"Price_x" : "Purchase Count", "Price_y" : "Price", "Price" : "Total Purchase Value"}), inplace = True)

# Sort the Values
popularFinal.sort_values(by = "Total Purchase Value", ascending = False, inplace = True)

# Then format the values
popularFinal["Price"] = popularFinal["Price"].map("${:.2f}".format)
popularFinal["Total Purchase Value"] = popularFinal["Total Purchase Value"].map("${:.2f}".format)
popularFinal.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80