In [1]:
# Importing Dependencies
import pandas as pd
# For calling the file that will be read in, I prefer to use the os method rather than listing the path out since it is more universal
import os

In [9]:
# First, let's get our file location
filepath = os.path.join("Resources", "purchase_data.csv")

# Then read in CSV in
purchaseDataDf = pd.read_csv(filepath)
# and make sure it was read in correctly by checking the dataframe
purchaseDataDf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [62]:
# Let's find the total number of players.
# To do this, we just need to find the total count of purchases
numberOfPlayers = purchaseDataDf['SN'].unique()
print(f'Total number of players: {len(numberOfPlayers)}')

Total number of players: 576

In [51]:
# Next, let's get some total purchasing analytics
print(f'Purchasing Analytics (Total)')
print(f'----------------------------')
averageprice = purchaseDataDf['Price'].mean()
print(f' Average Purchase Price: ${round(averageprice, 2)}')

Purchasing Analytics (Total)
----------------------------
 Average Purchase Price: $3.05