In [15]:
# Importing Dependencies
import pandas as pd
# For calling the file that will be read in, I prefer to use the os method rather than listing the path out since it is more universal
import os
%config Completer.use_jedi = False

In [16]:
# First, let's get our file location
filepath = os.path.join("Resources", "purchase_data.csv")

# Then read in CSV in
purchaseDataDf = pd.read_csv(filepath)
# and make sure it was read in correctly by checking the dataframe
purchaseDataDf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [23]:
# Let's find the total number of players.
# To do this, we just need to find the total count of purchases
numberOfPlayers = purchaseDataDf['SN'].nunique()
players = [{"Total Players" : numberOfPlayers}]
totalPlayers = pd.DataFrame(players)
totalPlayers

   Total Players
0            576

In [36]:
# Next, let's get some total purchasing analytics
print(f'Purchasing Analytics (Total)')
print(f'----------------------------')

# Here I get the average price of the price column
averagePrice = purchaseDataDf['Price'].mean()

# Then Format it to be put in our dataframe later
averagePriceFormatted = "${:.2f}".format(averagePrice)

# Then we grab the number of unique items through the Item ID column
uniqueItems = purchaseDataDf['Item ID'].nunique()

# Set that nunique to a new output so it can be converted into a dataframe
itemDF = [{"Number Of Unique Items" : uniqueItems}]

# Let's calculate the total purchases
totalPurchases = purchaseDataDf['Purchase ID'].count()

# Now let's get the total revenue
totalRevenue = purchaseDataDf['Price'].sum()
totalRevenueFormatted = "${:.2f}".format(totalRevenue)

# Convert our output into a new dataframe to store all our purchasing analytics
purchaseAnalytics = pd.DataFrame(itemDF)

# Add our average price we calculated earlier to our dataframe
purchaseAnalytics["Average Price"] = averagePriceFormatted

# Add our total purchases to our dataframe
purchaseAnalytics["Total Purchases"] = totalPurchases

# Lastly, add our total revenue to our dataframe and print it out
purchaseAnalytics["Total Revenue"] = totalRevenueFormatted
purchaseAnalytics

Purchasing Analytics (Total)
----------------------------

   Number Of Unique Items Average Price  Total Purchases Total Revenue
0                     179         $3.05              780      $2379.77

In [ ]:
# Let's move on to the Gender Demographics!